<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
      defer></script>
    <script src="/scroller.js" type="module"></script>
  </head>
  <body>
    <div class="text-center">
      <h2>Let's play with blur!</h2>
      <p>
        i've realised this is such a powerful visual effect we can apply in
        different ways. <br />
        And importantly we can animate it!
      </p>
    </div>

    <style>
      section {
        margin: 6rem 0;
      }
      img {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    </style>
    <section>
      <p class="text-center">discover blur - hover to reveal</p>
      <div
        class="relative w-[min(50vw,500px)] h-[min(50vw,500px)] mx-auto blur-md hover:blur-0 transition-all duration-700"
      >
        <img
          src="https://a.storyblok.com/f/267935/1920x478/0b5fe4f9e2/homepage-banner-1920x610px-3.jpg"
          alt="bird"
          class="w-full h-full object-cover"
        />
      </div>
    </section>

    <section>
      <p class="text-center">distance reveal</p>
      <script is:inline>
        document.addEventListener("alpine:init", () => {
          Alpine.data("unblur", () => ({
            dist: 100,
            move(e) {
              const rect = e.currentTarget.getBoundingClientRect();
              this.dist = Math.abs(rect.width / 2 - e.layerX);
              // Math.abs(rect.height / 2 - e.layerY);
            },
          }));
        });
      </script>
      <div
        x-data="unblur"
        class="relative"
        @mousemove="move"
        :style="`--dist: ${Math.floor(dist)}px; filter: blur(calc(var(--dist)/30))`"
      >
        <img
          src="https://a.storyblok.com/f/267935/1920x478/0b5fe4f9e2/homepage-banner-1920x610px-3.jpg"
          class="w-[min(50vw,500px)] h-[min(50vw,500px)] mx-auto object-cover"
          alt="bird"
        />
      </div>
    </section>

    <section>
      <div class="max-w-[500px] mx-auto">
        <p class="my-10">
          On scroll blur? <br /> i like how high blur almost desintegrates / hides
          the image, and it unblurs into existence
        </p>
        <p class="text-3xl opacity-50">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid
          praesentium quae ex optio beatae voluptate tempore animi sunt, veniam
          ullam sapiente minus! Labore dolore mollitia facilis voluptate.
          Veritatis, ea nulla!
        </p>
        <on-scroller>
          <img
            src="https://a.storyblok.com/f/267935/1920x478/0b5fe4f9e2/homepage-banner-1920x610px-3.jpg"
            alt="bird"
            class="w-[min(50vw,500px)] h-[min(50vw,500px)] mx-auto object-cover"
            style="filter: blur( max(var(--center)*0.1, 0px) )"
          />
        </on-scroller>
        <p class="text-3xl opacity-50">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid
          praesentium quae ex optio beatae voluptate tempore animi sunt, veniam
          ullam sapiente minus! Labore dolore mollitia facilis voluptate.
          Veritatis, ea nulla!
        </p>
      </div>
    </section>

    <section x-data="{x:0,y:0}" class="relative">
      <p class="max-w-[70ch] mx-auto">
        cursor blur <br />
        tricky... we can only blur the content INSIDE the blurred element. so we
        need to double everything. show an unblurred image, and then only show a
        portion of the blurred image. <br />
        note - also added a white background, else the blur is partly transparent
        at the edges. <br />
        but then we think - there must be a better way!
      </p>

      <div class="relative">
        <div class="p-10 absolute inset-0">
          <img
            src="https://a.storyblok.com/f/267935/1920x478/0b5fe4f9e2/homepage-banner-1920x610px-3.jpg"
            alt="bird"
            class="w-[min(50vw,500px)] h-[min(50vw,500px)] mx-auto object-cover"
          />
        </div>
        <div @mousemove="x=$event.layerX;y=$event.layerY;" class="blur-lg">
          <div
            class="p-10 bg-white"
            :style="`clip-path: circle(100px at ${x}px ${y}px)`"
          >
            <img
              src="https://a.storyblok.com/f/267935/1920x478/0b5fe4f9e2/homepage-banner-1920x610px-3.jpg"
              alt="bird"
              class="w-[min(50vw,500px)] h-[min(50vw,500px)] mx-auto object-cover"
            />
          </div>
        </div>
      </div>
    </section>

    <style>
      .container {
        background-image: url("https://a.storyblok.com/f/267935/1920x478/0b5fe4f9e2/homepage-banner-1920x610px-3.jpg");
        background-position: center;
      }
      .blurout {
        backdrop-filter: blur(10px);
        mask-image: linear-gradient(to right, transparent 20%, white 80%);
      }
    </style>
    <section x-data="{x:0,y:0}" class="relative">
      <p class="max-w-[70ch] mx-auto">
        so i came across blur-gradient. Holy mackerel. so this works completely
        opposite, instead of blurring dom CONTENT, we can use backdrop-filter to
        blur anything BEHIND and element! and it can also be combined with
        mask-image, to only blur parts, or fade the blur in and out. <br />
        here is a blur-gradient from left to right.
      </p>

      <div class="h-[var(--h)]">
        <div @mousemove="x=$event.offsetX; y=$event.offsetY;" class="">
          <div class="relative container w-[800px] h-[500px] mx-auto">
            <div class="blurout w-full h-full"></div>
          </div>
        </div>
      </div>
    </section>

    <section x-data="{x:0,y:0}" class="relative">
      <p class="max-w-[70ch] mx-auto">
        so can we also do a focus blur by using a radial gradient!
      </p>
      <div class="relative w-[min(50vw,500px)] mx-auto">
        <div
          @mousemove="x=$event.offsetX; y=$event.offsetY;"
          :style="`--x: ${x}px; --y: ${y}px; `"
          class="absolute w-full h-full [backdrop-filter:blur(10px)] [mask-image:radial-gradient(circle_at_var(--x)_var(--y),transparent_60px,white_260px)]"
        >
        </div>
        <img
          src="https://a.storyblok.com/f/267935/1920x478/0b5fe4f9e2/homepage-banner-1920x610px-3.jpg"
          alt="bird"
          class="h-[min(50vw,500px)] object-cover"
        />
      </div>
    </section>

    <section x-data="{x:0,y:0}" class="relative">
      <div
        @mousemove="x=$event.offsetX; y=$event.offsetY;"
        :style="`--x: ${x}px; --y: ${y}px; `"
        class="absolute w-full h-full [backdrop-filter:blur(8px)] [mask-image:radial-gradient(circle_at_var(--x)_var(--y),white_35px,transparent_90px)]"
      >
      </div>
      <div class="py-[100px]">
        <h2 class="text-center">BLUR EVERYTHING</h2>
        <p class="max-w-[70ch] mx-auto">
          so this is what i was hoping for, easily blur anything you want,
          dynamically. and we can smooth the edges by creating the right
          mask-image with gradients.
        </p>
        <div class="w-[min(50vw,500px)] mx-auto">
          <div></div>
          <img
            src="https://a.storyblok.com/f/267935/1920x478/0b5fe4f9e2/homepage-banner-1920x610px-3.jpg"
            alt="bird"
            class="h-[min(50vw,500px)] object-cover"
          />
        </div>
      </div>
    </section>
  </body>
</html>
